github "mattdonnelly/Swifter" ~> 2.0
github "ReactiveKit/ReactiveKit" ~> 3.0
github "ReactiveKit/Bond" ~> 6.0
github "rs/SDWebImage" ~> 4.0
github "nmdias/FeedKit" ~> 6.0
github "krzyzanowskim/CryptoSwift" ~> 0.6
